// COLORS:
$primaryColor: #55c57a;
$primaryColor-light: #7ed56f;
$primaryColor-dark: #28b485;
$grayColor-dark: #777;
$grayColor-ligth-1: #f7f7f7;
$whiteColor: #fff;
$blackColor: #000;
/////
////fonts
$defualtFontSize: 1.6rem;
